@tailwind base;

@tailwind components;

@tailwind utilities;

#loading {
    background: #2c3e50;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    opacity: 1;
    transition: opacity 1s;
}

#loading.fade {
  opacity: 0;
}

#loading-center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
