export OVRC_ENV="development"
export OVRC_WEB_PORT=":8002"
export OVRC_WEB_CERT_FILE="../dev_certs/ovrc.test+5.pem"
export OVRC_WEB_KEY_FILE="../dev_certs/ovrc.test+5-key.pem"
export OVRC_WEB_ALLOWED_ORIGINS="https://localhost:1234,http://localhost:1234,https://127.0.0.1:1234"
export OVRC_DB_CONNECTION="postgres://ovrc:ovrc@localhost:5432/ovrc?sslmode=disable"